<h1>Editing order upload</h1>

<%= render "form", order_upload: @order_upload %>

<br>

<div>
  <%= link_to "Show this order upload", @order_upload %> |
  <%= link_to "Back to order uploads", order_uploads_path %>
</div>
